* {
  background-color: #173f5f;
}


.hero {
  display: flex;
  padding: 50px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.noir-dark {
  font-size: 50px;
  color: #8bc34a;
  background-color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 5px;
}


.noir-statement {
  font-size: 45px;
  color: #ffffff;
  margin-top: 20px;
}

.span-statement {
  background-color: #8bc34a;
  border-radius: 5px;
}

label {
  font-size: 45px;
  color: #8bc34a;
  margin-top: 20px;
}


select {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px #1a1a1a;
}


option {
  background-color: #ffffff;
  color: #1a1a1a;
}

.link {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 30px;
  text-decoration: none;
  background-color: #1a1a1a;
  border-radius: 5px;
  color: #ffffff;
}


.image-container {
  display: flex;
  background-color: #8bc34a;
  justify-content: flex-end;
  border: solid 2px #8bc34a;
  flex: 1;
  text-align: center;
}

.image-container img {
  width: 100%;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  color: #f1f1f1;
  font-size: 20px;
  border-radius: 5px;
}

.colour-palletes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colour-palletes div {
  margin-right: 0 5px;
  white-space: nowrap;
}

.madeby {
  position: fixed;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #f1f1f1;
}

.madeby {
  text-align: center;
}

.atati {
  font-size: 20px;
  color: #1a1a1a;
}

.madebyatati {
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  text-decoration: none;
}

.madebyatati a {
  color: #ffffff;
  text-decoration: none;
}